@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000;
}

.bg {
  background-image: url("https://map-match-eosin.vercel.app/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("/font/Montserrat-Bold.woff2") format("woff2"),
    url("/font/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/font/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Val Page Start*/
.bgcolor {
  background-color: #444444;
}

@media only screen and (max-width: 1080px) {
  .respond {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .left {
    justify-content: center;
    width: 400px;
    height: 200px;
    margin-bottom: 15px;
  }

  .right {
    width: 400px;
    height: 200px;
    margin-top: 15px;
  }
  .middle {
    width: 400px;
  }
  .input-size {
    width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .left {
    justify-content: center;
    width: 300px;
    height: 200px;
    margin-bottom: 15px;
  }

  .right {
    width: 300px;
    height: 200px;
    margin-top: 15px;
  }
  .middle {
    width: 300px;
  }
  .star {
    width: 45px;
    height: 45px;
  }
  .input-size {
    width: 300px;
  }
}
/*Val Page End*/
